# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.sqlite3

# Virtual environment
.venv/
env/
venv/

# Streamlit cache
.streamlit/

# Local data
data/*.json

# Environment variables
.env

# MacOS junk
.DS_Store

# Logs
*.log

# VSCode / IDE configs
.vscode/
.idea/
